.App{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: rgb(233, 244, 235);
    height: 100vh;
    color: rgb(15, 16, 1);
    font-size: 15px;
}
input{
    padding: 6px;
}
.search{
    padding: 6px;
    background-color: black;
    color: white;
}
.sound{
    padding: 10px;
}
.showResults{
    word-wrap: wrap;
}